<div class="row" id="#contact" >
   <div class="col-md-12" style="text-align: center;"> <h1 style="font-weight: 20rem;;">Contact Us</h1></div>
<div class="col-md-7 addr" style="border-radius: 1rem;">
    <div class="row">
        <div class="col-md-12">
            aehfbrjhgbkejbgtkaethnlnkrugbkwr bjk,ejf akrjgbl gjk.rgb.kawr vrhb,fbwhbfv,wbgjbverbvgjkzvk jhbgeiugnrgiegjkrgbkrc jhbgergb,eruig.eglsubtkjgsliu
            aehfbrjhgbkejbgtkaethnlnkrugbkwr bjk,ejf akrjgbl gjk.rgb.kawr vrhb,fbwhbfv,wbgjbverbvgjkzvk jhbgeiugnrgiegjkrgbkrc jhbgergb,eruig.eglsubtkjgsliu
            aehfbrjhgbkejbgtkaethnlnkrugbkwr bjk,ejf akrjgbl gjk.rgb.kawr vrhb,fbwhbfv,wbgjbverbvgjkzvk jhbgeiugnrgiegjkrgbkrc jhbgergb,eruig.eglsubtkjgsliu

        </div>
    </div>
    <br>
    <div class="addrboder" style="border-radius: 1rem;"> 
    <div class="row ">   
        <div class="col-md-5 ">
            <address style="text-align: center;">
                <h3 style="color: orange;"><u><Strong >ENGINEERING ENTERPRISES</Strong></u></h3> 
                <p style="font-weight: bold;"><u>CEMENT | STEELS | HARDWARES</u></p>
                        No.68/1C, Sanarpalayam Road,<br>
                        Telephone Exchange Backside,<br>
                        Tiruchengode,<br>
                        Namakkal District - 637211. <br>
            </address>
        </div>
        <div class="col-md-6" style="text-align: center; line-height: 10px;"><br>
            <h5 style="color: rgb(238, 108, 22);"><Strong><u>REACH US NOW</u></Strong></h5>
            <h5>Cell :</h5>
                <button type="button" class="btn btn-primary"><span class="fa fa-phone"></span> +91 9487451919</button>
                <br><br>
                <button type="button" class="btn btn-primary"><span class="fa fa-phone"></span> +91 9487461919</button>

            <h5>Email :</h5>
            <button type="button" class="btn btn-primary"><span class="fa fa-envelope"></span> engineeringenterprises@gmail.com</button>
            <br><br><br>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <div class="row"> 
           <div class="col-md-12 " style="padding-left:20px ;text-align: center;">
            <br>
               
                <div class="menu-items">
                    <span class="fa fa-home red-color"></span> &nbsp; <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> &nbsp;
                    <span class="fa fa-envelope red-color"></span> &nbsp; <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active">Contact</a>  &nbsp;
                    <span class="fa fa-book red-color"></span> &nbsp; <a [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a>  &nbsp;
                    <span class="fa fa-calendar red-color"></span> &nbsp; <a [routerLink]="['/events']" routerLinkActive="router-link-active">Events</a>  &nbsp;
                </div>
                <br>
                <a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
                ><i class="fa fa-whatsapp " ></i></a>
                &nbsp;
                <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
                ><i class="fa fa-facebook"></i></a>
                &nbsp;
                <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
                ><i class="fa fa-instagram "></i></a>
                &nbsp;
                <a class="btn btn-primary" style="background-color: #4c75a3;" href="#!" role="button"
                ><i class="fa fa-telegram "></i></a>
                &nbsp;
                <a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button"
                ><i class="fa fa-envelope "></i></a>
                <br><br>
            </div>
           </div>
        </div>
    </div>
    
</div>


<div class="col-md-5" >
    <section id="contact" style="border-radius: 1rem;">
        <h6 style="text-align: center;">Fill out the form below and our expert will get in touch for free consulting!</h6>
          <div class="form-container">
            <input type="text" placeholder="  Your Name" />
            <input type="tel" placeholder="   Phone Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"/>
            <input type="email" placeholder="   E-Mail" />
            <textarea
              cols="30"
              rows="6"
              placeholder="Type Your Message"
            ></textarea>
          </div> 
          <div class="form-container text-center">
            <button class="btn btn-primary " >Submit</button>
          </div>
         
      </section>
</div>
</div>
  <footer id="footer">
    <h3>Engineering Enterprises &copy; all rights reserved</h3>
  </footer>